<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# object: http://ogp.me/ns/object# article: http://ogp.me/ns/article# profile: http://ogp.me/ns/profile#">
	{% include head.html %}
	<title>{{ site.description }}</title>
	<meta property="og:title" content="{{ page.title }} - WorldEditArt wiki"/>
	<meta name="twitter:title" content="{{ page.title }} - WorldEditArt wiki"/>
	<meta name="description" content="{{ page.description }}"/>
	<meta name="twitter:description" content="{{ page.description }}"/>
</head>
</html>
